
  <h1>Sign In</h1>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:red">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter your Login:<br>
          {{ form.login(size=30) }}<br>
      </p>
	<p>
          Please enter your Password:<br>
          {{ form.password(size=30) }}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>
