
  <h1>Create slice</h1>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:red">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter slice name:<br>
          {{ form.name(size=30) }}<span style="color:red">{{ form.name.errors[0] }}</span><br>
      </p>
	<p>
          Please enter slice host:<br>
          {{ form.IpAddr(size=30) }}<span style="color:red">{{ form.IpAddr.errors[0] }}</span><br>
      </p>
	<p>
          Please enter slice port:<br>
          {{ form.port(size=5) }}<span style="color:red">{{ form.port.errors[0] }}</span><br>
      </p>	
	<p>
          Please enter slice password:<br>
          {{ form.passwd(size=30) }}<span style="color:red">{{ form.passwd.errors[0] }}</span><br>
      </p>
	<p>
          Please enter slice admin contact:<br>
          {{ form.mail(size=30) }}<span style="color:red">{{ form.mail.errors[0] }}</span><br>
      </p>
      <p><input type="submit" value="Create"><a href="{{url_for('index')}}" style="text-decoration:none"><input type="button" value="Cancel"> </a></p>
  </form>
