
{% extends 'base.html' %}

{% block container %}
<div class="container">
    <form name="createSlice" method="post" action="">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:green">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
        <div class="form-group row">
        <label for="SliceName" class="col-sm-3 col-form-label">Dpid</label>
        <div class="col-sm-9">
            {{form.dpid(class='form-control form-control-sucess')}}<span style="color:red">{{ form.dpid.errors[0] }}</span>
        </div>
        </div>
        <div class="form-group row">
        <label for="SliceIp" class="col-sm-3 col-form-label">Switch port number</label>
            <div class="col-sm-9">
                {{form.match(class='form-control form-control-sucess')}} <span style="color:red">{{ form.match.errors[0] }}</span>          
         </div>

        </div>
         <div class="form-group row">
        <label for="SlicePw" class="col-sm-3 col-form-label">Priority</label>
            <div class="col-sm-9">
                {{form.priority(class='form-control form-control-sucess',value='1')}} <span style="color:red">{{ form.priority.errors[0] }}</span>          
         </div>

        </div>

        <div class="form-group row">
            <label for="perm" class="col-sm-3 col-form-label">Permission</label>
            <div class="col-sm-9">
                 {{form.perm(class='form-control form-control-sucess')}} <span style="color:red">{{ form.perm.errors[0] }}</span>          
                 <!--{{form.perm(class='form-control form-control-sucess')}} <span style="color:red">{{ form.perm.errors[0] }}</span>          -->

            
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputHorizontalDnger" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-outline-success">Create flowspace</button>
            </div>
        </div>
    </form>
    </div>
<div class="row">
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            <strong>Fist step!</strong> create a slice before adding switches in the flow space.
        </div>
    </div>
</div>


{% endblock %}
