
{% extends 'base.html' %}

{% block container %}
<div class="container">
    
    <form name="createSlice" method="post" action="">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:green">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
        <div class="form-group row">
        <label for="SliceName" class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            {{form.name(class='form-control form-control-sucess',placeholder='Give your slice name')}}<span style="color:red">{{ form.name.errors[0] }}</span>
        </div>
        </div>
        <div class="form-group row">
        <label for="SliceIp" class="col-sm-3 col-form-label">IP address</label>
            <div class="col-sm-9">
                {{form.IpAddr(class='form-control form-control-sucess',placeholder='Ex: 0.0.0.0')}} <span style="color:red">{{ form.IpAddr.errors[0] }}</span>          
         </div>

        </div>
         <div class="form-group row">
        <label for="SlicePw" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                {{form.passwd(class='form-control form-control-sucess')}} <span style="color:red">{{ form.passwd.errors[0] }}</span>          
         </div>

        </div>
        <div class="form-group row">
            <label for="SlicePort" class="col-sm-3 col-form-label">Port number</label>
            <div class="col-sm-9">
                {{form.port(class='form-control form-control-sucess',placeholder='10000')}} <span style="color:red">{{ form.port.errors[0] }}</span>          

            </div>

        </div>
        <div class="form-group row">
            <label for="AdminEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                 {{form.mail(class='form-control form-control-sucess',placeholder='name@example.com')}} <span style="color:red">{{ form.mail.errors[0] }}</span>          
                      </div>
        </div>
        <div class="form-group row">
            <label for="inputHorizontalDnger" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-outline-success">Create slice</button>
            </div>
        </div>
    </form>
    </div>
<div class="row">
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            <strong>Fist step!</strong> create a slice before adding switches in the flow space.
        </div>
    </div>
</div>


{% endblock %}
