
{% extends 'base.html' %}
{% block container %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:green">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

<div>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:green">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	

<h2 class="text-danger">Do you really want to delete slice {{nom}} ?</h2>
<p><a href="{{url_for('deleteSlice',nom=nom,conf=1)}}" style="texte-decoration:none"><input type="button" class='btn btn-warning'value="Yes"> </a><a href="{{url_for('createdSlice')}}" style="texte-decoration:none"><input type="button" class='btn btn-success' value="Cancel"></a></p>
</div>
{% endblock %}