{% extends 'base.html' %}

{% block container %}
<div class="container">
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li style="color:green">{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	
	<h1> <b>{{ tranche["slice-name"] }}</b> Informations</h1>
		{% if tranche is iterable and tranche is not string%}
			<ul>
				{% for k,v in tranche.items() %}
				{% if k!="slice-name" %}
				<li>{{k}}: <b>{{v}}</b></li>
				{% endif %}		
				{% endfor %}
			
		{% else %}
			<b style='color:red;'>{{tranche|lower }}</b>
		{% endif %}
	</ul>
<div>
	<a href="{{url_for('createdSlice')}}">retour</a>
	<a href="{{url_for('updateRequestSlice',nom=tranche['slice-name'])}}">Update</a>
	<a href="{{url_for('deleteSlice',nom=tranche['slice-name'],conf=0)}}">Delete</a>
</div>
</div>
{% endblock %}